.material-icons{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.datum {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-height: 70px !important;
}